export AWS_PROFILE=***REMOVED***
export PROJECT=$(basename "${PWD}")

export DOCKER_REGISTRY="***REMOVED***"
export DOCKER_NAMESPACE="arch"

export DOCKER_REPOSITORY="${DOCKER_REGISTRY}/${DOCKER_NAMESPACE}/${PROJECT}"
export DOCKER_TAG=$(grep 'versionNumber = ' cmd/root.go | cut -d\" -f2)

export DOCKER_IMAGE="${DOCKER_REPOSITORY}:${DOCKER_TAG}"

eval `aws ecr get-login --no-include-email`
